<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Crimson Education - 404</title>
    <meta name="description" content="Crimson Education - 404">
    <meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <style>
        .container {
            font-family: 'Montserrat', 'sans-serif';
            color: #232950;
            display: table;
            width:100%;
            height: 100vh;
        }

        .error {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .error p {
            margin: 10px 0;
        }

        .subheader {
            margin-bottom: 40px;
        }
    </style>
</head>

<body>

<div class="container">

    <div class="error">
        <img src='/img/error-404.svg' alt='404 Error' />
        <h1>Oops... There is nothing here!</h1>
        <p>You have found a so called 404 error. </p>
        <p><strong>You can either...</strong></p>
        <p>Check the URL you have entered. Maybe it has a typo.</p>
        <p>If the URL is correct then we are currently working on the problem.</p>
        <p>Please come back a bit later.</p>
    </div>

</div>

</body>

</html>
