/*crimson red: rgb(156,44,42)*/
/*crimson blue: rgb(36,41,77)*/
body {
    font-family: 'Montserrat','sans-serif';
    min-width: 600px;
    background-color: rgb(36,41,77);
}

.tab { 
    text-indent: 40px; 
}

p { 
    text-indent: 15px; 
}

body {
    color: rgb(36,41,77);
}

h1 {
    font-size:2.2em;
    font-weight: 1000;
}

h3 {
    font-size:1.8em;
    
}

h4 {
    font-size:1.5em;
    margin-top:0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, 
.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px;
}

#workScreen {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 20px solid white;
    background-color: white;
}



#titleDiv {
    height: 100px;
}

#titleText {
    float: left;
    height:70px;
    font-size: 2.2em;
    color: rgb(156,44,42);
    font-weight: bold;
    width: 300px;
    margin-top:36px;
    
}

#logoTop {
    float: right;
    height: 70px;
    margin-top: 16px;
}




h2 {
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #999;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
}

.containerbar {
  width: 100%;
  margin: 0;
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  float: left;
  margin: auto;
}

.horizontal .progress-bar {
  color: black;
  float: left;
  height: 45px;
  width: 100%;
  padding: 12px 0;
  background-color: white;
  box-shadow: none;
  margin: auto;
}

.horizontal .progress-track {
  margin: auto;
  position: relative;
  width: 100%;
  height: 20px;
  background: #ebebeb;
}

.horizontal .progress-fill {
  position: relative;
  background: rgb(156,44,42);
  height: 20px;
  width: 50%;
  color: #fff;
  text-align: center;
  font-family: "Lato","Verdana",sans-serif;
  font-size: 12px;
  line-height: 20px;
  margin: auto;
  float:left;
}

.rounded .progress-track,
.rounded .progress-fill {
  border-radius: 3px;
}

table {
    border: 1px solid rgb(156,44,42);
}

.emptyRow {
    width: 100%;
    height: 30px;
    color: black;
    content: 'hello';

}

.barlabel {
    height: 45px;
    padding: 12px 0;
    font-size: 1em;
}

.barlabeldiv {
    float: right;
}

.bar-row {
    margin-top: 24px;
    margin-bottom: 24px;
}

.skills {
    margin-top: 22px;
}

#overall {
    width:95%;
    margin-left:2.5%;
    margin-right: 2.5%;
}
